<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Laravel4" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_URI}" matchType="Pattern" pattern="FoM.Archive/" ignoreCase="true" negate="true" />
                        <add input="{REQUEST_FILENAME}" pattern=".swf$" negate="true" />
                        <add input="{REQUEST_FILENAME}" pattern=".png$" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_URI}" matchType="Pattern" pattern="forums/" ignoreCase="true" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <directoryBrowse enabled="false" />
        <staticContent>
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".php" mimeType="application/php" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        </staticContent>
    </system.webServer>
</configuration>