@charset "UTF-8";

@font-face {
    font-family: 'Haas Grot Text R Web';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/neue-haas-grotesk/NeueHaasGrotTextRound-55Roman-Web-3a2ac4cfe1fb44482f32e3a7f2742d466285ea4b06453a2a8ee329ddb3a25507.eot);
    src: url(/assets/neue-haas-grotesk/NeueHaasGrotTextRound-55Roman-Web-3a2ac4cfe1fb44482f32e3a7f2742d466285ea4b06453a2a8ee329ddb3a25507.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/NeueHaasGrotTextRound-55Roman-Web-9e7322596eec47d8e79e2453d75a77fb58045ae944ec818e4fc1ba05559121a4.woff2) format("woff2"), url(/assets/neue-haas-grotesk/NeueHaasGrotTextRound-55Roman-Web-f0d7a2418500e092ebb3c26936e1bd51f0b300f27f9c97488a99086271e4ac52.woff) format("woff");
    font-display: optional
}

@font-face {
    font-family: 'Haas Grot Text R Web';
    font-style: italic;
    font-weight: 400;
    src: url(/assets/neue-haas-grotesk/NeueHaasGrotTextRound-56Italic-Web-b99f1bb02757b6a43339feb42c39e2f3f8cc47c199ad3c7c566777d22d6ed2f0.eot);
    src: url(/assets/neue-haas-grotesk/NeueHaasGrotTextRound-56Italic-Web-b99f1bb02757b6a43339feb42c39e2f3f8cc47c199ad3c7c566777d22d6ed2f0.eot?#iefix) format("embedded-opentype"), url(/assets/neue-haas-grotesk/NeueHaasGrotTextRound-56Italic-Web-d201eda6b56369a016cd778f87ff8537406f0dad7c042a648564588e4279be63.woff2) format("woff2"), url(/assets/neue-haas-grotesk/NeueHaasGrotTextRound-56Italic-Web-bed05bfe283b02a4af1393aa6f858997cfc02a31130aaa7f902527c49349f7eb.woff) format("woff");
    font-display: optional
}

@font-face {
    font-family: 'Haas Grot Text R Web';
    font-style: normal;
    font-weight: 500;
    src: url(/assets/neue-haas-grotesk/NeueHaasGrotTextRound-65Medium-Web-4eca470f601a5d1c3882fb70766237bc71f02351fce0730057cf0334d01049d9.eot);
    src: url(/assets/neue-haas-grotesk/NeueHaasGrotTextRound-65Medium-Web-4eca470f601a5d1c3882fb70766237bc71f02351fce0730057cf0334d01049d9.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/NeueHaasGrotTextRound-65Medium-Web-741c8c70e5c90808119c701483ca7362baff5ae482c823718406bbb1e31d9143.woff2) format("woff2"), url(/assets/neue-haas-grotesk/NeueHaasGrotTextRound-65Medium-Web-6fce7d1b67114bc53a2a42b8b5ab59bbeeb1067ed4861981aceb5d4ce4cf9d6a.woff) format("woff");
    font-display: optional
}

@font-face {
    font-family: 'Haas Grot Text R Web';
    font-style: italic;
    font-weight: 500;
    src: url(/assets/neue-haas-grotesk/NeueHaasGrotTextRound-66MediumItalic-Web-19794dedbe50a5e38d86a58c96c1f3f0c98358ddbb0b3338bff89f76896bea0d.eot);
    src: url(/assets/neue-haas-grotesk/NeueHaasGrotTextRound-66MediumItalic-Web-19794dedbe50a5e38d86a58c96c1f3f0c98358ddbb0b3338bff89f76896bea0d.eot?#iefix) format("embedded-opentype"), url(/assets/neue-haas-grotesk/NeueHaasGrotTextRound-66MediumItalic-Web-48186f7d2eab425bbd54e2253457daff57d19ada727b1066d1d744b396cbb7b4.woff2) format("woff2"), url(/assets/neue-haas-grotesk/NeueHaasGrotTextRound-66MediumItalic-Web-aa621bd37465608c00b0017419fa973e10b4d97c1ff5a9ef493aae5937c966d8.woff) format("woff");
    font-display: optional
}

@font-face {
    font-family: 'Haas Grot Text R Web';
    font-style: normal;
    font-weight: 700;
    src: url(/assets/neue-haas-grotesk/NeueHaasGrotTextRound-75Bold-Web-64804f159ba108a3428fb5f727445a57cc4f0b83f74b9bdda76f6ae53559715c.eot);
    src: url(/assets/neue-haas-grotesk/NeueHaasGrotTextRound-75Bold-Web-64804f159ba108a3428fb5f727445a57cc4f0b83f74b9bdda76f6ae53559715c.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/NeueHaasGrotTextRound-75Bold-Web-f2ff2f34217e3fdab82c30ef689f5be3fb86a8e4218a1906a9399d0354a95d45.woff2) format("woff2"), url(/assets/neue-haas-grotesk/NeueHaasGrotTextRound-75Bold-Web-0a77c0b441255a0b44df36d4fd579e6dc8eef1d7cfbd2df4eaf7c80a193da578.woff) format("woff");
    font-display: optional
}

@font-face {
    font-family: 'Haas Grot Text R Web';
    font-style: italic;
    font-weight: 700;
    src: url(/assets/neue-haas-grotesk/NeueHaasGrotTextRound-76BoldItalic-Web-1e556db45eec0cfa6936916af01f7fa85df98389ece3c44127ea044846683b48.eot);
    src: url(/assets/neue-haas-grotesk/NeueHaasGrotTextRound-76BoldItalic-Web-1e556db45eec0cfa6936916af01f7fa85df98389ece3c44127ea044846683b48.eot?#iefix) format("embedded-opentype"), url(/assets/neue-haas-grotesk/NeueHaasGrotTextRound-76BoldItalic-Web-d66af097b37d5bab89cff77748b070f451dc064de8875d50889e7ae7a4bb9bfb.woff2) format("woff2"), url(/assets/neue-haas-grotesk/NeueHaasGrotTextRound-76BoldItalic-Web-96778f0d4089cf3011e565d311477f5b9472c805f5bd00244c9d952626042d60.woff) format("woff");
    font-display: optional
}

:root {
    --dae: #f1cdd7;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

body {
    margin: 0px;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #0d0c22;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,
body {
    height: 100%;
}

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

.col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.col-md-12 {
    flex: 0 0 auto;
    width: 100%;
}

.artwork {
    height: 100vh;
}

.artwork {
    background: var(--dae);
    color: #865c6c;
}

.artwork-image {
    background-image: url("/assets/images/login.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

label {
    display: block;
    margin: 14px 0 4px;
    color: #0d0c22;
    font: bold 15px/24px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input.text-input {
    width: 100%;
    margin-right: 8px;
}

input[type='text'],
input[type='number'],
input[type='search'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='tel'],
.braintree-input,
.selectize-input {
    border: 1px solid transparent;
}

input[type='text'],
input[type='number'],
input[type='search'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='tel'],
.braintree-input,
.selectize-input,
textarea,
.ql-container .ql-editor,
select,
.input-with-prefix {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 400px;
    height: 40px;
    padding: 10px 16px;
    -webkit-transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input.fieldWithErrors {
    background: #ffeeee;
    color: #ff5555;
}

input::before.fieldWithErrors {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #ff5555;
    color: #fff;
}

button,
input {
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
}

input:not([type="range"]):not([type="color"]) {
    writing-mode: horizontal-tb !important;
}

input[type="text" i] {
    padding: 1px 2px;
}

.iya {
    padding-left: 100px;
}

input.button:hover,
input.button:focus {
    background-color: #f082ac;
    text-decoration: none;
}

.form-sub:hover,
.form-sub:focus,
a.form-sub:hover,
a.form-sub:focus {
    background: #f082ac;
}

input.button {
    display: block;
    width: 200px;
    margin-top: 22px;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    appearance: button;
}

.form-sub,
a.form-sub {
    color: #fff;
}

.form-sub,
.form-btn,
.form-blurple,
.form-forest,
.form-gradient,
a.form-sub,
a.form-btn,
a.form-blurple,
a.form-forest,
a.form-gradient {
    display: inline-block;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    padding: 10px 16px;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    border: none;
    border-radius: 8px;
    outline: none;
    background: #ea4c89;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

button,
input {
    overflow: visible;
}

input:not([type="range"]):not([type="color"]) {
    writing-mode: horizontal-tb !important;
}

.divider {
    margin-bottom: 10px;
    padding: 0;
    overflow: visible;
    border: none;
    border-top: 1px solid #e0e0e0;
    color: #6e6d7a;
    text-align: left;
    width: 400px;
}

hr {
    box-sizing: content-box;
    height: 0px;
    overflow: visible;
}

a:hover {
    color: #7263d4;
}

a {
    background-color: transparent;
}

a {
    color: #4f3cc9;
    text-decoration: none;
}

ul.sukak-mu-dae {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.sukak-mu-dae li {
    float: left;
    border-right: 1px solid #bbb;
}

.sukak-mu-dae li:last-child {
    border-right: none;
}

.sukak-mu-dae li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sukak-mu-dae li a:hover:not(.active) {
    background-color: #111;
}

.sukak-mu-dae .active {
    background-color: #04AA6D;
}

#idx-calendar {
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    width: 100%;
}

#idx-calendar div>ul {
    list-style: none;
    background-color: #333333;
    margin: 0;
    padding: 0 10px;
}

#idx-calendar #dayNames>ul {
    background-color: #232323;
}

#idx-calendar ul li {
    color: #FFFFFF;
    float: left;
    font-family: Tahoma;
    font-weight: inherit;
}

#dayNames ul li {
    font-weight: bold;
    margin: 2% 0;
    padding: 3% 0;
    width: 14.2857%;
}

#daysNum ul li:hover {
    background-color: #232323;
}

#daysNum ul li {
    padding: 2.5% 0;
    width: 14.2857%;
}

#dayNames,
#daysNum {
    clear: both;
    width: 100%;
}

#dayNames:after,
#daysNum:after,
#idx-calendar div>ul:after {
    content: "";
    display: table;
    clear: both;
}

#idx-calendar div>ul li:first-child {
    color: #F05558;
    font-weight: bold;
}

#idx-calendar li.dayNow {
    color: #0084B4 !important;
    font-weight: bold;
    background-color: #232323;
    position: relative;
    z-index: 2;
}

.monthNow {
    color: #0084B4;
    font-family: arial;
    font-size: 40px;
    text-align: left;
}

#monthNow {
    background-color: #4188D0;
    font-family: verdana;
    font-weight: bold;
    color: #FFFFFF;
    padding: 20px;
    text-transform: uppercase;
}

#calendar-control {
    position: relative;
}

#nextMonth,
#prevMonth {
    transition: 0.5s;
    background-color: #232323;
    color: #FFFFFF;
    font-family: verdana;
    height: 100%;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    width: 60px;
}

#prevMonth {
    left: 0;
}

#prevMonth:before,
#nextMonth:before {
    background-color: #4188D0;
    border-radius: 50%;
    transition: 0.5s;
    border-right: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    content: "";
    display: block;
    height: 20px;
    left: 20px;
    position: relative;
    top: 18px;
    transform: rotate(45deg);
    width: 20px;
}

#prevMonth:before {
    transform: rotate(-135deg);
}

#nextMonth:hover,
#prevMonth:hover {
    background-color: transparent;
}

#nextMonth:hover:before,
#prevMonth:hover:before {
    border-radius: 0%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 32%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.event:hover {
    background-color: #F1F3F4;
}

.event a {
    text-decoration: none;
}

.event .title {
    color: #000;
    position: relative;
    margin-bottom: -12px;
}

.event .iya-tanggal {
    font-size: 12px;
}