@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap');

::-webkit-scrollbar {
    width: 5px;
    background-color: #f1eee7;
}
::-webkit-scrollbar-thumb {
    background-color: #000;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gaegu';
    background-color: #AAD0D9;
}

table {
    color: #5C3F5B;
    font-size: 33px;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.container>div {
    padding: 0px 0;
    font-size: 30px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;

}

.item1 a {
    text-decoration: none;
    color: #5C3F5B;
}

.item1 a:hover {
    font-style: italic;
}

.gambar img {
    width: 480px;
    position: absolute;
}

.tanggal {
    position: relative;
    margin-top: 340px;
    margin-left: 190px;
    font-size: 25px;
}

.tanggal h4 {
    margin: 0;
    color: #f1eee7;
}

.item2 td {
    padding: 0 10px;
}

.date {
    height: 45px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.info {
    margin: 60px;
    text-align: justify;
}

.info h1 {
    margin-top: -10px;
}

.info p {
    margin-top: -25px;
    width: 50%;
    font-size: 22px;
}

.info img {
    border-radius: 5px;
}